body, html {
  height: 100%;

}
.header{
  padding-top: 50px;
  background: url('donation9.jpg') no-repeat ;
  background-size:cover;
  height: 550px;
  font-size: 40px;
  text-align: center;
  color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link-button{
  text-align: center;
  text-decoration: none;
  background-color: palevioletred;
  color: white;
  padding: 10px 30px;
}
h6{
  color: aliceblue;
  text-align: center;
}
.a{
  position: relative;
}
.black-color{
  color: black;
  padding-left: 670px;
}

h4{
 text-align: center;
  color: black;}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  padding: 20px;
  background-color: bisque;
  margin-right: 50px;
  text-align: center;

}
.flex-child-3{
  flex: 1;
background-color: coral;
text-align: center;
padding: 20px;
margin-right: 50px;
border: 5px;
}
.other-acount{
  margin-top: 80px;
}
.link-button2{
  margin-left: 670px;
  margin-top: 1in;
  text-align: center;
  text-decoration: none;
  background-color: palevioletred;
  color: white;
  padding: 10px 30px;
}
.straight-line{
  margin-left: 30px;
  margin-right: 30px;
}
h2{
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
}
.footer{
  background-color: black;
}
.footer{
  color: black;
  text-align: center;
  margin-top: 10px;
  border-top-width: 25px;
  height: 1in;

}
h3{
  color: brown;
  text-align: center;
  padding-top: 20px;
  font: italic;
}
h7{

  color: aliceblue;
  margin-bottom: 10px;
  margin-bottom: 15px;
  font-size: small;
}
.submit{
  background-color: rgb(236, 73, 73);
  margin-right: 38%;
  margin-left: 30%;
  text-align: 30%;
  margin-top: 8px;
  padding: 5px;
  text-align: center;
  color: beige;
}
.mail-box{
  margin-top: 40px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgb(243, 232, 229);
  padding: 30px;
}
.email-box{
  margin-left: 30%;
  margin-right: 30%;

}
.link-button3{
  margin-top: 10px;
}